<h1>When you recruit users</h1>
<p>You will receive <b>half</b> of their entry fee.</p>
<p>The other <b>half</b> goes to the user who recruited you.</p>
<div class="fig">
	<div class="tree tree-ttb">
		<ol>
			<li class="tree-parent">
				<a class="self"><%= @user.to_s %></a>
			</li>
		</ol>
	</div>
	<div class="net-profit currency negative">
		<%= as_currency 0, true %>
	</div>
</div>
