<h1>When your subordinates recruit users</h1>
<p>You will receive <b>half</b> of what your subordinate earned.</p>
<div class="fig">
	<div class="tree tree-ttb">
		<ol>
			<li class="tree-parent">
				<a class="self"><%= @user.to_s %></a>
				<ol>
					<li>
						<a>alice<span class="earned-from">5.00</span></a>
					</li><li>
						<a>bob<span class="earned-from">5.00</span></a>
					</li><li class="add-to">
						<a>carol<span class="earned-from">5.00</span></a>
					</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="net-profit currency negative">
		<%= as_currency 15, true %>
	</div>
</div>
