<h1>You can cash out at any time.</h1>
<p>This lets you transfer your earnings out of Skeem Club.</p>
<p>But keep in mind this will close your account.</p>
<div class="fig">
	<%= image_tag 'skeem_to_btc.svg', id: 'skeem-to-btc' %>
	<div class="net-profit currency">
		<%= as_currency 20, true %>
	</div>
	<div class="part">
		<%= image_tag 'bitcoin_logo.svg', id: 'bitcoin-logo' %>
	</div>
</div>
