<div class="fig">
	<div class="tree tree-ttb">
		<ol>
			<li class="tree-parent">
				<a><%= @user.to_s %></a>
			</li>
		</ol>
	</div>
	<div class="net-profit currency negative">
		<%= as_currency 0, true %>
	</div>
</div>
