.no-recruit-code {
	background: #ffc04b;
	color: rgba(0, 0, 0, 0.8);
	font-size: .90em;
	margin: .5em 1em;
	padding: 0.5em;
}
.recruit-by {
	background: rgb(84,200,152);
	color: #fff;
	display: inline-block;

	padding: 0.5em;
	margin-bottom: 0.5em;
}
