#dash-title-bar{
	background: #fff;
	padding: .5em;
	font-size: 1.5em;
	overflow: hidden;
}

#dash-title-bar > a{
	color: #888;
	text-decoration: none;
}

#dash-title-bar > *:nth-child(1){
	float: left;
	padding: 0 .5em;
}

#dash-title-bar > *{
	float: right;
	padding: 0 .5em;
}

.dash-section{
	background: #fff;
	max-width: 600px;
	overflow: hidden;
	margin: 1em auto;
	padding: 2em;
	padding-top: 6em;
	position: relative;
}

.dash-section > h1{
	font-size: 2em;
	position: absolute;
	top: 0;
	left: 0;
	margin: .75em;
}

.transaction-record{
	position: relative;
	margin: .25em;
	padding: .25em;
	background: rgba(84,191,152,0.63);
	color: #fff;
}

.tree{
	display: table;
	margin: 0 auto;
}

.transaction-record > *{
}

.transaction-record > .currency{
	/*float: right;*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;

	font-size: 1.5em;
	background: red;
	padding: 1%;

	background: rgba(0, 0, 0, .125);

	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 4em;
}
.transaction-record > .description{
	margin: .5em;
	display: block;
}
.transaction-record > .chain{
	margin: .5em;
	display: block;
}
.error-message{
	background: #f88;
	color: #fff;
	padding: 1em;
}
