#dash-title-bar{
	padding: .5em;
	font-size: 1.5em;
	overflow: hidden;
}

#dash-title-bar > a{
	color: #888;
	text-decoration: none;
}

#dash-title-bar > *:nth-child(1){
	float: left;
	padding: 0 .5em;
}

#dash-title-bar > *{
	float: right;
	padding: 0 .5em;
}

.dash-section{
	background: #fff;
	max-width: 600px;
	overflow: hidden;
	margin: 1em auto;
	padding: 2em;
	position: relative;

	//the header will take up some space at the top
	padding-top: .5em;
}

.dash-section > h1{
	text-align: left;
	font-size: 2em;
	margin-bottom: .5em;
}

.transaction-record{
	position: relative;
	margin: .25em;
	padding: .25em;
	background: rgba(84,191,152,0.63);
	color: #fff;
}

.tree{
	width: 100%;
	overflow: auto;
	margin: 0 auto;

	.earned-from{
		color: #4CAF50;
		&:before{
			margin-left: .25em;
			content: '+'
		}
	}
}
.transaction-record > .currency{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;

	font-size: 1.5em;
	padding: 0 .5em;

	background: rgba(0, 0, 0, .125);

	justify-content: center;
	align-items: center;
	display: flex;

	min-width: 4em;
}
.transaction-record > .description{
	padding-right: 6em;
	margin: .5em;
	display: block;
}
.transaction-record > .chain{
	padding-right: 6em;
	margin: .5em;
	display: block;
}
.error-message{
	background: #f88;
	color: #fff;
	padding: 1em;
}
.recruit-codes > li{
	margin-bottom: .5em;
	padding: .5em;
	background: #ddd;
	overflow: hidden;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.code-expire-time{
	flex-grow: 1;
	text-align: right;
	float: right;

	margin: .25em;
}
.recruit-codes a{
	color: #888;
	text-decoration: none;
}
.recruit-codes input{
	border: none;
	outline: none;
	padding: .5em;
}
.dash-section > form input{
	padding: 1em;
}
.copy-button{
	background: #8D9FA8;
	color: #fff;
}
.tree-chooser{
	border-bottom: solid black 1px;
}
#dash-tree{
	label{
		position: relative;
		bottom: 0;

		display: inline-block;

		padding: .5em;
		margin-left: .5em;

		cursor: pointer;

		background: #eee;

		border-top: solid 1px;
		border-bottom: none;
		border-left: solid 1px;
		border-right: solid 1px;

		border-color: #eee;
	}
	input:checked + label{
		bottom: -1px;
		border-color: black;
		background: #fff;
	}
	input{
		display: none;
	}
}

.instruction-dialog{
	display: table;
	position: relative;
	vertical-align: middle;

	margin-bottom: 1em;
	padding: 1em;

	background: #eee;

	&:after {
		top: 100%;
		left: 4em;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(238, 238, 238, 0);
		border-top-color: #eee;
		border-width: 10px;
		margin-left: -10px;
	}
}
