// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'tree';

body{
	margin: 0;
	padding: 0;
	background: #f8f8f8;
	color: #444;
	font-family: Helvetica, sans-serif;
}

form > input {
	border: none;
	outline: none;

	width: 90%;
	font-size: 1.25em;

	padding: 5%;

	margin-top: 0.5em;
	margin-bottom: 0.5em;

	text-align: center;
}

h1{
	text-align: center;
}

ul, ol{
	list-style-type: none;
	padding: 0;
}

.centered-form-container{
	margin-left: auto;
	margin-right: auto;
	width: 20em;
	text-align: center;
}

.invalid-input{
}

.valid-input{
}
