// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*body{*/
	/*font-family: Helvetica, sans-serif;*/
	/*margin: 0;*/
	/*padding: 0;*/

	/*background: #eee;*/
	/*color: #444;*/
/*}*/

/*h1{*/
	/*text-align: center;*/
	/*font-size: 8vw;*/
/*}*/

/*.centered-form-container{*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*text-align: center;*/
/*}*/

/*form{*/
	/*width: auto;*/
	/*display: inline-block;*/
/*}*/

/*input{*/
	/*width: 24vw;*/
	/*font-size: 3vw;*/
	/*display: block;*/
	/*text-align: center;*/

	/*border-style: solid;*/
	/*border-width: 1px;*/
	/*border-color: #888;*/

	/*margin: 0.5em;*/
/*}*/

.tree{
	white-space: nowrap;
	overflow: hidden;
}

.tree ul, .tree li{
	margin: 0;
	padding: 0;
}

.tree ul{
	padding-top: 20px;
	position: relative;
}

.tree li{
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
}

.tree li::before, .tree li::after{
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}

.tree li::after{
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

.tree li:only-child{
	padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
