$dialog-height: 500px;
$dialog-width: 600px;

#welcome-dialog-container{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	text-align: center;
	width: $dialog-width;
	height: $dialog-height;
	margin:auto;

	#slide-container{
		position: relative;

		max-width: $dialog-width;
		height: $dialog-height;

		overflow: hidden;

		.slide{
			position: absolute;

			height: $dialog-height;
			width: 100%;

			background: #fff;
			display: none;

			&.show{
				display: block;
			}
		}
	}

	a{
		display: inline-block;
		color: #000;
		background-color: #fff;
		text-decoration: none;
		padding: .5em;
	}

	#skip-slides{
		background: #fff;
		margin: .5em;
	}

	a.side-btn{
		text-indent: -9999px;
		width: 1em;
		height: 1em;
		padding: 1em;

		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 250px;
	}

	a.next{
		background-image: asset-url("arrow_forward.svg");
		right: -4em;
	}
	a.prev{
		background-image: asset-url("arrow_back.svg");
		left: -4em;
	}
	a.done{
		background-image: asset-url("done.svg");
		right: -4em;
	}
}
