$dialog-height: 500px;
$dialog-width: 600px;

#welcome-dialog-container{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	text-align: center;
	width: $dialog-width;
	height: $dialog-height;
	margin:auto;

	a{
		display: inline-block;
		color: #000;
		background-color: #fff;
		text-decoration: none;
		padding: .5em;
	}

	a.hide{
		opacity: 0;
	}

	a.side-btn{
		text-indent: -9999px;
		width: 1em;
		height: 1em;
		padding: 1em;

		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 250px;
	}

	a.next{
		background-image: asset-url("arrow_forward.svg");
		right: -3em;
	}
	a.prev{
		background-image: asset-url("arrow_back.svg");
		left: -3em;
	}
	a.done{
		background-image: asset-url("done.svg");
		right: -3em;
	}
}

#slide-container{
	position: relative;

	max-width: $dialog-width;
	height: $dialog-height;
	margin: 1em;

	overflow: hidden;

	.slide{
		position: absolute;

		height: $dialog-height;
		width: 100%;

		background: #fff;
		display: none;

		&.show{
			display: block;
		}
	}
}

#skip-slides{
	background: #fff;
	margin: .5em;
}

.slide{
	h1{
		padding-top: 1em;
		font-size: 1.5em;
		font-weight: normal;
	}

	.tree{
		width: 49%;
		margin-right: 0;
		display: inline-block;

		overflow: visible;
		>ol{
			overflow: visible;
		}
	}

	.net-profit{
		width: 49%;
		display: inline-block;
		font-size: 2.5em;
		vertical-align: top;
		line-height: 2em;
	}

	.fig{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 50%;
		vertical-align: middle;
		padding: 2em;

		img{
			position: absolute;
		}
	}
}

#slide_0{
	font-size: 1.125em;

	#point-to-user{
		top: 0em;
		left: 28%;
		z-index: 1;
		display: block;
	}

	#point-to-earnings{
		top: 6.5em;
		right: 25%;
		display: block;
	}
}

#slide_1{
	.child-earnings{
		bottom: 3.5em;
		left: 0;
		display: none;
	}
}

#slide_3{
	.part{
		width: 49%;
		display: inline-block;
		vertical-align: top;
	}

	#skeem-to-btc{
		top: 2em;
		left: 45%;
	}
	#bitcoin-logo{
		top: .5em;
		right: 10%;
	}
}

#slide_4{
	.foot-message{
		position: relative;
		margin: 0;
		bottom: 2em;
		font-size: 2em;
	}
}

.replay-button{
	position: absolute;
	bottom: 1em;
	right: 1em;

	background: asset-url("refresh.svg");
	width: 24px;
	height: 24px;

	cursor: pointer;
	display: none;
}

.replay-button:hover{
	animation: spin 1s;
}

@keyframes spin{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
